/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: linear-gradient(to right, black,rgb(20, 37, 37)5%,black 120%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#titleBox {
    position: relative;
    background-image: url("drone.jpg");
    min-height: 500px;
    background-size: 100% 100%;
    color: blanchedalmond;
    font-family: 'Audiowide';
}
h1 {   
    font-size: 5em;
    margin-left: 5%;
}
#subHeader {
    position: absolute;
    bottom: 7%;
    right: 5%;
    font-size: 3em;
}

.episode {
    color: blanchedalmond;
    font-family: 'Abel';
}
.episodeImage {
    display: inline-block;
    vertical-align: top;
    width: 18%
}
.episodeText {
    font-family: 'Abel';
    text-indent: 2em;
    font-size: 1.3em;
    line-height: 1.6em;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 3%;
    display: inline-block;
    width: 73%
    
    
}
#stormyCliff {
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    float: left
}
footer {
    text-align: right;
    color: blanchedalmond;
}